ul li {
  list-style-position: outside;
}

ol li {
  list-style-position: outside;
}

.greyscale {
  transition: background-color 0.6s ease;
}

.greyscale:hover {
  background-color: #dadada;
}

img.center {
  display: block;
  margin: 0 auto;
}