ul li {
  list-style-position: outside;
}

ol li {
  list-style-position: outside;
}

img.center {
  display: block;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px !important;
  text-align: center;
}