ul li {
  list-style-position: outside;
}

ol li {
  list-style-position: outside;
}

img.center {
  display: block;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0px auto !important;
}

th, td {
  padding: 15px !important;
  text-align: center;
}

.icons {
  padding-right: 5px;
  padding-left: 5px;
}

.table-delimiter {
  margin-top: 10px;
  margin-bottom: 10px;
}